<div class="top-bar">
  <div class="create">
    <button>+</button>
    <a href="#">Create</a>
  </div>
  <div class="story-wrapper">
    <div class="story">
      <img
        src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        alt="@username"
      />
      <a href="">&commat;username</a>
    </div>
    <div class="story">
      <img
        src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        alt="@username"
      />
      <a href="">&commat;username</a>
    </div>
    <div class="story">
      <img
        src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        alt="@username"
      />
      <a href="">&commat;username</a>
    </div>
    <div class="story">
      <img
        src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        alt="@username"
      />
      <a href="">&commat;username</a>
    </div>
  </div>
</div>
