ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #ddd;
  position: relative;
  font-size: 16px;
}

.search-input::placeholder {
  color: #666;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #2ecc71;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #27ae60;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #666;
}

.search-wrapper {
  position: relative;
}

.search-friends {
  margin-top: 20px;
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
