.content-wrapper {
  align-items: center;
}

.friends-wrapper {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

.search-area {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%; /* Adjusted to use percentage */
  width: 75%;
  overflow: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul > * {
  margin: 5px 0;
}

.search-container {
  display: flex;
  align-items: center;
  height: 20%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.search-input {
  width: 200px;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #ddd;
  font-size: 16px;
}

.search-input::placeholder {
  color: #666;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #3bd97d;
}

.search-result-list {
  height: 75%;
  width: 75%;
}

.search-result-list li {
  margin: 10px;
}

.error-message {
  text-align: center;
  color: black;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  font-weight: bold;
  background-color: rgba(150, 150, 150, 0.49);
}

.incoming-requests {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%; /* Adjusted to use percentage */
  width: 75%;
  overflow: hidden;
}

.incoming-requests h3 {
  /*text-decoration: underline;*/
  padding: 0px 5px;
  border-bottom: 3px solid #28a745;
}

.incoming-request-list {
  height: 100%;
  width: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.incoming-request-list ul {
  width: 90%;
}

li {
  width: 75%;
}

