<div class="friends-wrapper">
  <div class="search-friends">
    <div class="search-container">
      <input type="text" class="search-input" (keyup.enter)="findFriend()" [(ngModel)]="searchInput" placeholder="Search" />
      <button class="search-button" (click)=findFriend()>Search</button>
    </div>
    <div class = "search-result">
      <div class="error-message" *ngIf="searchErrorMessage">{{searchErrorMessage}}</div>
      <ul>
        <li *ngFor = "let user of searchResults">
          <app-friend-list [friend]="user"></app-friend-list>
        </li>
      </ul>
    </div>

  </div>
  <div class="may-know">
    <h3>You may know:</h3>
    <div class="may-know-list">
      <ul>
        <li *ngFor = "let friend of mayKnowList">
          <app-friend-list [friend]="friend"></app-friend-list>
        </li>
        <div class="error-message" *ngIf="fofErrorMessage">{{fofErrorMessage}}</div>
      </ul>
    </div>
  </div>
</div>
