<div class="wrapper">
  <app-story-bar></app-story-bar>
  <div class="content-wrapper">
    <div *ngFor="let event of events" class="post">
      <app-event class="event-comp" [event]="event"></app-event>
    </div>
    <div *ngIf="loading" class="loading-spinner">
      Loading...
    </div>
    <div *ngIf="!hasMoreEvents" class="no-more-events">
      No more events to load
    </div>
    <button 
    class="back-to-top-button"
    (click)="scrollToTop()"
  >
  Scroll ⬆️
  </button>
  </div>
</div>