<div class="wrapper">
  <app-story-bar class="add-post"></app-story-bar>
  <div #contentWrapper class="content-wrapper">
    <div *ngFor="let event of events" class="post">
      <app-event [event]="event" class="event-comp"></app-event>
    </div>
    <div *ngIf="loading" class="loading-spinner">
      Loading...
    </div>
    <div *ngIf="!hasMoreEvents" class="no-more-events">
      No more events to load
    </div>
    <button
      (click)="scrollToTop()"
      class="back-to-top-button"
    >
      Scroll ⬆️
    </button>
  </div>
</div>
