<div class="auth-container">
  <h1>Forgot Password</h1>

  <form (ngSubmit)="onResetPassword()">
    <input type="text" placeholder="Username" [(ngModel)]="resetData.username" name="username" required>

    <select [(ngModel)]="resetData.securityQuestionValue" name="securityQuestion" required>
      <option value="" disabled selected>Select a security question</option>
      <option value="pet">What was your first pet's name?</option>
      <option value="school">What elementary school did you attend?</option>
      <option value="city">In what city were you born?</option>
    </select>

    <input type="text" placeholder="Security Answer" [(ngModel)]="resetData.securityQuestionAnswer" name="securityAnswer" required>

    <input type="password" placeholder="New Password" [(ngModel)]="resetData.password" name="password" required>
    <input type="password" placeholder="New Confirm Password" [(ngModel)]="resetData.confirmPassword" name="confirmPassword" required>

    <button type="submit">Submit</button>

    <!-- Display error message in red if it's not null -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

  </form>
  <div class="auth-links">
    <a [routerLink]="['/login']">Remembered your password? Login</a>
  </div>
</div>
