<div class="auth-container">
  <h1>Forgot Password</h1>
  <form (ngSubmit)="onResetPassword()">
    <input type="email" placeholder="Email" [(ngModel)]="resetData.email" name="email" required>
    
    <select [(ngModel)]="resetData.securityQuestion" name="securityQuestion" required>
      <option value="" disabled selected>Select a security question</option>
      <option value="pet">What was your first pet's name?</option>
      <option value="school">What elementary school did you attend?</option>
      <option value="city">In what city were you born?</option>
    </select>
    
    <input type="text" placeholder="Security Answer" [(ngModel)]="resetData.securityAnswer" name="securityAnswer" required>
    
    <button type="submit">Submit</button>
  </form>
  <div class="auth-links">
    <a [routerLink]="['/login']">Remembered your password? Login</a>
  </div>
</div>