<div *ngIf="isVisible" class="popup">
  <div class="popup-content">
    <h2>Create New Event</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="description">Description</label>
      <input
        [(ngModel)]="description"
        id="description"
        name="description"
        required
        type="text"
      />

      <label for="location">Location</label>
      <input [(ngModel)]="location" id="location" name="location" type="text"/>

      <label for="time">Time</label>
      <input
        (change)="validateTime()"
        [(ngModel)]="time"
        [min]="minTime"
        id="time"
        name="time"
        required
        type="datetime-local"
      />
      
      <label for="eventType">Event Type</label>
      <select [(ngModel)]="eventTypeName" id="eventType" name="eventType">
        <option *ngFor="let type of eventTypes" [ngValue]="type">
          {{ type }}
        </option>
      </select>

      <label for="visibility">Visibility</label>
      <select [(ngModel)]="visibility" id="visibility" name="visibility">
        <option value="PUBLIC">Public</option>
        <option value="PRIVATE">Private</option>
      </select>

      <button type="submit">Create Event</button>
      <button (click)="closePopup()" type="button">Cancel</button>
    </form>
  </div>
</div>
