<div class="post">
  <div class="header">
    <div class="header-user">
      <div class="poster-avatar"></div>
      <span class="username">{{event.creator.username}}</span>
      <span class="time">• 4h</span>
    </div>
    <span class="more-button">•••</span>
  </div>
  <div class="post-body">
    <div class="content">
      <h2 class="title"><span class="icon">🍽️</span> Going on a {{event.description}}</h2>
      <div class="location">📍{{event.location}}</div>
      <div>🕒{{event.time}}</div>
    </div>
    <div class="footer">
      <button class="join-button">Join</button>
      <div class="avatars">
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="more">+3</div>
      </div>
    </div>
  </div>
</div>