<div class="content-wrapper">
  <h2>
    WORK IN PROGRESS...
  </h2>
  <h3>
    Discover Page:
    <br>
    <br>
    Find New Friends and New Events!
  </h3>
  <div class="post">
    <div class="header">
      <div class="header-user">
        <div class="poster-avatar"></div>
        <span class="username">username <small> - friends with [FRIEND]</small></span>
        <span class="time">• 4h</span>
      </div>
      <span class="more-button">•••</span>
    </div>
    <div class="post-body">
      <div class="content">
        <h2 class="title"><span class="icon">🍽️</span> Going on a lunch</h2>
        <div class="location">📍Suki Café</div>
        <div>🕒1:30PM, 13 Sep.</div>
      </div>
      <div class="footer">
        <button class="join-button">Join</button>
        <div class="avatars">
          <div class="avatar"></div>
          <div class="avatar"></div>
          <div class="avatar"></div>
          <div class="more">+3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="header">
      <div class="header-user">
        <div class="poster-avatar"></div>
        <span class="username">username <small> - nearby event</small></span>
        <span class="time">• 4h</span>
      </div>
      <span class="more-button">•••</span>
    </div>
    <div class="post-body">
      <div class="content">
        <h2 class="title"><span class="icon">🍽️</span> Going on a lunch</h2>
        <div class="location">📍Suki Café</div>
        <div>🕒1:30PM, 13 Sep.</div>
      </div>
      <div class="footer">
        <button class="join-button">Join</button>
        <div class="avatars">
          <div class="avatar"></div>
          <div class="avatar"></div>
          <div class="avatar"></div>
          <div class="more">+3</div>
        </div>
      </div>
    </div>
  </div>
</div>