<div class = "content-wrapper">
  <h1> More on Doin! </h1>
  <div class="may-know">
    <h3>You may know:</h3>
    <div class="may-know-list">
      <div class="error-message" *ngIf="mayKnowErrorMessage"> {{mayKnowErrorMessage}} </div>
      <ul>
        <li *ngFor = "let friend of mayKnowList">
          <app-friend-list [friend]="friend"></app-friend-list>
        </li>
      </ul>
    </div>
  </div>
<!--
  <div class = "other-events">
  <h3>Other Events:</h3>
  <div id="mayKnowError" *ngIf="mayKnowErrorMessage">
    {{mayKnowErrorMessage}}
  </div>
  <div class="may-know-list">
    <ul>
      <li *ngFor = "let friend of mayKnowList">
        <app-friend-list [friend]="friend"></app-friend-list>
      </li>
    </ul>
  </div>
  <p id = "end-of-events">All Discoverable Events Found!</p>
  </div>
  -->
</div>
