<div class="content-wrapper">
  <h1>More on Doin!</h1>
  <div class="may-know">
    <h2>You may know:</h2>
    <div class="may-know-list">
      <div *ngIf="mayKnowErrorMessage" class="error-message">
        {{ mayKnowErrorMessage }}
      </div>
      <div *ngFor="let friend of mayKnowList">
        <app-friend-list [friend]="friend"></app-friend-list>
      </div>
    </div>
  </div>
  <div class="other-events">
    <h2>Events around you:</h2>
    <div class="events">
      <div *ngFor="let e of events">
        <app-event-mini [event]="e"></app-event-mini>
      </div>
    </div>
    <button (click)="onLoadMore()" *ngIf="hasMoreEvents">Load More</button>
  </div>
</div>
