<div class="friend-item ">
  <div class="avatar"></div>
<!--  <img class="avatar" [src]="friend.profilePic.data" alt="{{friend.username}}'s pfp"></img>-->
  <div class="friend-name">{{friend.username}}</div>
  <div *ngIf="friend.status != FriendshipStatus.NOTADDED">
    <button class="remove-button" (click)="removeFriend()">Remove friend</button>
  </div>
  <div *ngIf="friend.status == FriendshipStatus.NOTADDED">
    <button class="add-button" (click)="addFriend()">Add friend</button>
  </div>
</div>
