<div class="friend-item ">
  <div class="avatar"></div>
<!--  <img class="avatar" [src]="friend.profilePic.data" alt="{{friend.username}}'s pfp"></img>-->
  <div class="friend-name">{{friend.username}}</div>

  <div class="buttons">
    <ng-container [ngSwitch]="friend.status">
      <div *ngSwitchCase="FriendshipStatus.CONFIRMED">
        <button class="remove-button" (click)="removeFriend()">Remove Friend</button>
      </div>

      <div *ngSwitchCase="FriendshipStatus.PENDING">
        <button class="confirm-button" (click)="confirmFriend()">Confirm Friend</button>
        <button class="remove-button" (click)="removeFriend()">Remove Friend</button>
      </div>

      <div *ngSwitchCase="FriendshipStatus.NOTADDED">
        <button class="add-button" (click)="addFriend()">Add Friend</button>
      </div>
    </ng-container>
  </div>
</div>
