<div class="friend-item ">
  <div class="avatar"></div>
  <div class="avatar-wrapper">
    <app-image [borderRadius]="'50%'" [image]="friend.profilePic" class="avatar"></app-image>
  </div>

  <a (click)="goToProfile(friend.id)">
    <span class="username">{{ friend.username }}</span>
  </a>
  <div *ngIf="response" class="response">{{ response }}</div>

  <div *ngIf="!response" class="buttons">
    <ng-container [ngSwitch]="friend.status">
      <div *ngSwitchCase="FriendshipStatus.CONFIRMED">
        <button (click)="removeFriend()" class="remove-button">Remove Friend</button>
      </div>

      <div *ngSwitchCase="FriendshipStatus.PENDING">
        <button (click)="confirmFriend()" class="confirm-button">Confirm Friend</button>
        <button (click)="removeFriend()" class="remove-button">Remove Friend</button>
      </div>

      <div *ngSwitchCase="FriendshipStatus.NOTADDED">
        <button (click)="addFriend()" class="add-button">Add Friend</button>
      </div>

      <div *ngSwitchCase="FriendshipStatus.IS_SELF">
        <div class="you">You! :)</div>
      </div>
    </ng-container>
  </div>
</div>
