/* Sidebar styling */
.sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-items ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List items */
li {
  list-style: none;
  margin: 5px 0;
}

a{
  color: black;
  text-decoration: none;
}

img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding-top: 5px;
}