<div class="story-popup" *ngIf="isVisible" >
    <div class="story-content">
      <span class="close-btn" (click)="closePopup()">&times;</span>
      <div class="layout">
        <div class="prev-btn">&lt;</div>
        <div class="media">
          <img src="https://helenamt.sfo3.digitaloceanspaces.com/2022/06/Couple-1400x600.jpg" alt="User Story" class="story-image">
          <div class="story-user">
            <img [src]="userAvatarUrl" alt="User" class="user-avatar">
            <p class="user-name">{{ userName }}</p>
          </div>
        </div>
        <div class="next-btn">&gt;</div>
      </div>
    </div>
  </div>