<div class="auth-container">
  <h1>doin</h1>
  <form (ngSubmit)="onRegister()">

    <input [(ngModel)]="registerData.username" name="username" placeholder="Username" required type="text">
    <div class="fieldName">Username</div>
    <input [(ngModel)]="registerData.password" name="password" placeholder="Password" required type="password">
    <div class="fieldName">Password</div>
    <input [(ngModel)]="registerData.confirmPassword" name="confirmPassword" placeholder="Confirm Password"
           required type="password">
    <div class="fieldName">Confirm Password</div>

    <div class="requirements">
      * New Password must be 8 characters long.
      <div *ngIf="invalidPasswordLength" class="checkmark">&#x274C;</div>
      <BR>

      * Passwords must match.
      <div *ngIf="invalidPasswordMatch" class="checkmark">&#x274C;</div>
    </div>

    <select [(ngModel)]="registerData.securityQuestion" name="securityQuestion" required>
      <option disabled selected value="">Select a security question</option>
      <option value="pet">What was your first pet's name?</option>
      <option value="school">What elementary school did you attend?</option>
      <option value="city">In what city were you born?</option>
    </select>
    <div class="fieldName">Security Question</div>

    <input [(ngModel)]="registerData.securityAnswer" name="securityAnswer" placeholder="Security Answer" required
           type="text">
    <div class="fieldName">Security Question Answer</div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit">Register</button>

  </form>
  <div class="auth-links">
    <a [routerLink]="['/login']">Already have an account? Login</a>
  </div>
</div>
