<div class="wrapper">
  <div class="profile-wrapper">
    <div class="profile-img-wrapper">
      <app-image [borderRadius]="'50%'" class="profile-img"></app-image>
    </div>
    <!-- <div>&nbsp;{{Username}}</div> -->
  </div>
  <div class="user-events">
    <h4>usernames's events</h4>
    <div class="events">
      <ul>
        <!-- <app-event></app-event>
        <app-event></app-event>
        <app-event></app-event> -->
      </ul>
    </div>
  </div>
  <div class="user-friends">
    <h4>usernames's friends</h4>
    <div class="friends">
      <ul>
        <app-friend-list></app-friend-list>
        <app-friend-list></app-friend-list>
        <app-friend-list></app-friend-list>
        <app-friend-list></app-friend-list>
        <app-friend-list></app-friend-list>
        <app-friend-list></app-friend-list>
      </ul>
    </div>
  </div>
</div>
