<div class="wrapper">
  <div class="profile-wrapper">
    <div class="profile-img-wrapper">
      <app-image class="profile-img" [borderRadius]="'50%'" [image]="user?.profilePicture"></app-image>    </div>
    <div><a href="login" (click)="logout()">Logout</a></div>
  </div>

  <div class="friends-list">
    <p>Your Friends</p>
    <ul>
      <li *ngFor="let friend of friendsList">
        <app-small-friend-list [friend]="friend"></app-small-friend-list>
      </li>
    </ul>
  </div>

  <div class="notifications">
    <ul>
      <li>
        <img
          src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        />Nate sent you a <a href="#">&nbsp;friend request</a> - 4h
      </li>
      <li>
        <img
          src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        />Endrew joined an <a href="#">&nbsp;event</a> - 4h
      </li>
      <li>
        <img
          src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        />Jack planned an <a href="#">&nbsp;event</a> - 4h
      </li>
    </ul>
  </div>
</div>
