.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-wrapper{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.notifications {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.notifications ul {
    list-style: none;
    padding: 0;
}

.notifications ul li {
    margin: 10px 0;
    color: gray;
}

.notifications ul li a {
    color: #28a745;
    text-decoration: none;
}