<div class="wrapper">
  <div class="profile-wrapper">
    <div class="profile-img-wrapper">
      <a (click)="goToProfile()" class="username-link">
        <app-image
          [borderRadius]="'50%'"
          [image]="user?.profilePicture"
          class="profile-img"
        ></app-image>
      </a>
    </div>
    <a (click)="logout()" href="login">Logout</a>
  </div>
  <div class="upcoming-events">
    <h2>Upcoming Events:</h2>
    <div class="events">
      <div *ngFor="let e of upcomingEvents">
        <app-event-mini [event]="e"></app-event-mini>
      </div>
      <div *ngIf="upcomingEvents.length == 0">
        <p class="no-events-message">No events to show</p>
      </div>
    </div>
  </div>
</div>
