.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.notifications {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notifications ul {
  list-style: none;
  padding: 0;
}

.notifications ul li {
  margin: 10px 0;
  color: #808080;
}

.notifications ul li a {
  color: #28a745;
  text-decoration: none;
}

li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

li {
  display: flex;
  align-items: center;
}

img.profile-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-img-wrapper{
  width: 50px;
  height: 50px;
  object-fit: cover; /* Ensures the image is scaled correctly without distortion */
}
