<div class="wrapper">
  <div class="profile-wrapper">
    <div class="profile-img">
      <img
        src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"
        height="40px"
        width="40px"
      />
    </div>
    <div>Logout</div>
  </div>
  <div class="notifications">
    <ul>
      <li>Nate sent you a <a href="#">friend request</a> - 4h</li>
      <li>Endrew joined an <a href="#">event</a> - 4h</li>
      <li>Jack planned an <a href="#">event</a> - 4h</li>
    </ul>
  </div>
</div>
